---
---
@charset "utf-8";

$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
$base-font-size:   16px;

$white-color: #ECECEC;
$orrange-color: #E67E22;
$grey-color: #1A1A1A;

$on-palm:          768px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin border-styles(){
  border-width: 2px;
  border-style: solid none;
  border-color: $grey-color;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $grey-color;
  margin: 0;
  padding: 0;
  background-color: $white-color;
}

a{
  text-decoration: none;

  &:link{color: $grey-color;} 
  &:visited{color: $grey-color;}
  &:hover{color: $orrange-color;}
  &:active{color: $grey-color;}
}

pre{
  margin: 0;
}

small{
  font-size: medium;
}

img{
  max-width: 100%;
}

.site-header{
  padding: 128px 0px 0px;
  background-color: $orrange-color;

}

.site-footer{
  margin: 0px 0px 64px;
  text-align: center;
}

.site-title{
  font-family: Helvetica, sans-serif;
  font-size: 128px;
  color: $white-color;
  margin: 0 32px;
  text-decoration: none;

  &:link{color: $white-color;}
  &:visited{color: $white-color;}
  &:hover{color: $white-color;}
  &:active{color: $white-color;}

  @include media-query($on-palm){
    font-size: 48px;
    margin: 0 16px
  }
}

.site-contents{
  list-style: none;

  @include media-query($on-palm){
    margin: 24px 0;
    padding: 0;
  }
}

.site-content{
  display: inline-block;
  vertical-align: top;
  width: 50%;

  @include media-query($on-palm){
    display: block;
    margin: 0 16px;
    width: auto;
  }
}

.site-contents-introduction{
  list-style: none;
  padding: 0;
}

.site-posts{
  margin: 0;
  padding: 0;
}

.site-post{
  font-size: 20px;
  margin: 8px 0px;
}

a.site-post-link{
  &:hover{color: $orrange-color;}
}

.post{
  margin: 0 auto;
  padding: 24px 96px;

  @include media-query($on-palm){
    padding: 24px 16px;
  }
}

.site-share{
  margin: 24px 0;
}

.posts-pagination{
  margin: 24px 32px;
  
  @include media-query($on-palm){
    margin: 24px 16px;
  }
}

.posts-pagination-navi-list{
  padding: 0;
  list-style: none;
}

.posts-pagination-navi{
  display: inline-block;
}
